version: '3.9'

services:
  app:
    build:
      context: ..
      dockerfile: infra/vessel/Dockerfile # Ajustei o caminho para refletir a nova estrutura
    container_name: api-node
    restart: always
    ports:
      - '3333:3333'
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/mydatabase
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:alpine
    container_name: redis-api-node
    restart: always
    ports:
      - '6379:6379'

  postgres:
    image: postgres:15-alpine
    container_name: postgres-api-node
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    driver: local
